*.o
pplx-embed
pplx-embed-server
libpplxembed.*
tests/test_kernels_*
tests/test_safetensors
tests/test_bf16_model
tests/test_server
tests/test_tokenizer
bench/bench_tokenizer
coverage/
book/
.venv/
__pycache__/
*.pyc
.DS_Store
pplx_server
client
tmp
private
.vscode
